body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border-radius:50%;
}

.card {
    width: 430px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #33415c;
    color: #e0e1dd;
    border-bottom: 6px solid #0d1b2a;
    border-radius: 10px;
    text-shadow:4px 4px 2px black;
    box-shadow:1px 0px 5px black;
   
    
}
.card:hover{
    color: #0466c8;
    background-color: #001233;
    border-color: #0353a4;
}
.border-blue {
    border: 1px dotted blue;
}

/*

